
Day3/withstreamlit/venv
Day7/Commitment_Analyzer_Agent/venv/
Day7/TradeOff_Analyzer/venv/
Day5/Study_Assistant/venv/
Day9/Agent-1-Trade_Off_Analyzer/venv/
Day9/Agent-2-Time-Simulation/venv/
Day9/Agent-3-Commitment_Analyzer_Agent/venv/
Hackathon_MVP_Feat_Nego/Backend/node_modules/
Hackathon_MVP_Feat_Nego/Frontend/node_modules/